In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from  sklearn.preprocessing import StandardScaler
from sklearn.svm import SVC
from sklearn.metrics import  r2_score, mean_squared_error, mean_absolute_error

In [2]:
df=pd.read_csv('Hitters.csv')

In [3]:
df.head()

,AtBat,Hits,HmRun,Runs,RBI,Walks,Years,CAtBat,CHits,CHmRun,CRuns,CRBI,CWalks,League,Division,PutOuts,Assists,Errors,Salary,NewLeague
0,293,66,1,30,29,14,1,293,66,1,30,29,14,A,E,446,33,20,NaN,A
1,315,81,7,24,38,39,14,3449,835,69,321,414,375,N,W,632,43,10,475.0,N
2,479,130,18,66,72,76,3,1624,457,63,224,266,263,A,W,880,82,14,480.0,A
3,496,141,20,65,78,37,11,5628,1575,225,828,838,354,N,E,200,11,3,500.0,N
4,321,87,10,39,42,30,2,396,101,12,48,46,33,N,E,805,40,4,91.5,N

In [4]:
df.shape

(322, 20)

In [6]:
data_complete=df.dropna()

In [7]:
data_complete.shape

(263, 20)

In [8]:
data_complete.head()

,AtBat,Hits,HmRun,Runs,RBI,Walks,Years,CAtBat,CHits,CHmRun,CRuns,CRBI,CWalks,League,Division,PutOuts,Assists,Errors,Salary,NewLeague
1,315,81,7,24,38,39,14,3449,835,69,321,414,375,N,W,632,43,10,475.0,N
2,479,130,18,66,72,76,3,1624,457,63,224,266,263,A,W,880,82,14,480.0,A
3,496,141,20,65,78,37,11,5628,1575,225,828,838,354,N,E,200,11,3,500.0,N
4,321,87,10,39,42,30,2,396,101,12,48,46,33,N,E,805,40,4,91.5,N
5,594,169,4,74,51,35,11,4408,1133,19,501,336,194,A,W,282,421,25,750.0,A

In [9]:
data_columns= ['AtBat', 'Hits', 'HmRun', 'Runs', 'RBI', 'Walks', 'Years', 'CAtBat', 'CHits', 'CHmRun', 'CRuns', 'CRBI', 'CWalks', 'PutOuts', 'Assists', 'Errors', 'Salary']

In [10]:
data = data_complete.loc[:,data_columns]
data.shape

(263, 17)

In [11]:
X=data.drop('Salary', axis=1)
y=np.log(data['Salary'])

In [12]:
X_train, X_test, y_train, y_test = train_test_split(X,y, random_state=127)

In [13]:
scaler=StandardScaler()

In [14]:
X_train_scl=scaler.fit_transform(X_train)
X_test_scl=scaler.transform(X_test)

In [15]:
from sklearn.svm import SVR

In [16]:
model= SVR()

In [17]:
model.fit(X_train_scl, y_train)

SVR()

In [18]:
preds = model.predict(X_test_scl)

In [19]:
reg_score= r2_score(y_test, preds)
mse = mean_squared_error(y_test, preds)
rmse= mse**0.5
print(reg_score)
print(mse)
print(rmse)

0.6522724246418716
0.2625100541581893
0.5123573500577397

In [20]:
model=SVR(C=0.1)
model.fit(X_train_scl, y_train)
preds = model.predict(X_test_scl)
reg_score= r2_score(y_test, preds)
mse = mean_squared_error(y_test, preds)
rmse= mse**0.5
print(reg_score)
print(mse)
print(rmse)

0.5755336976660741
0.32044243801845657
0.5660763535234947

In [21]:
model=SVR(kernel='sigmoid')
model.fit(X_train_scl, y_train)
preds = model.predict(X_test_scl)
reg_score= r2_score(y_test, preds)
mse = mean_squared_error(y_test, preds)
rmse= mse**0.5
print(reg_score)
print(mse)
print(rmse)

-12.776042282234465
10.3999505988858
3.224895439992714

In [22]:
model=SVR(kernel='poly')
model.fit(X_train_scl, y_train)
preds = model.predict(X_test_scl)
reg_score= r2_score(y_test, preds)
mse = mean_squared_error(y_test, preds)
rmse= mse**0.5
print(reg_score)
print(mse)
print(rmse)

0.38665181287266615
0.4630350804212108
0.6804668106683902